@import './../../styles/partials/mixins';

.info {

    padding: 1rem;

    &__title {
        padding-bottom: 1rem;
    }

    &__divider {
        border: 1px solid silver;
        width: 100%;
    }

    &__params {
        display: flex;
        justify-content: space-between;
    }

    &__params-article-one {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 0rem;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
        }
    }

    &__params-article-two {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 0rem;
        gap: 1rem;
        display: flex;
        margin-right: 1rem;

        @include tablet {
            flex-direction: row;
        }

    }

    &__params-like-box {
        display:flex;
    }

    &__params-view-box {
        display:flex;
    }

    &__description {
        padding-top: 1rem;
    }

    &__divider--mobile {
        border: 1px solid silver;
        width: 100%;

        @include tablet {
            display: none;
        }
    }

}