@font-face {
    font-family: 'Avenir';
    src: url('./../../assets/Font/AvenirNextLTPro-Regular.woff2') format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('./../..//assets/Font/AvenirNext-DemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: url('./../..//assets/Font/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}
  