@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.hero {

    display: flex;
    justify-content: center;
    padding-bottom: $mobilePadding;

    &__overlay {
        position: relative;
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
        width: 100%;
        height: auto;
        // width: 703px;
        // height: 392.094px;

        @include tablet {
            
        }
    }

    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.625rem;
    }

    &__play-pause {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        font-size: $mobilePadding;

        &:focus {
            outline: none;
        }
    }

    &__progress-bar {
        flex-grow: 1;
        margin: 0rem 0.625rem;
        background-color: white;
        height: 0.625rem;
    }

    &__progress {
        height: 100%;
        width: 25%; 
        background-color: blue; 
    }

    &__time {
        
            color: red;
            font-size: 0.875rem;
            position: absolute;
            top: 75%;
            right: $mobilePadding;
            transform: translate(-50%, -50%);
        
    }


}