@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.upload-hero {
    padding: $mobilePadding;
    border-top: 1px solid $mercury;

    @include tablet {
        padding-left: $tabletPadding;
        padding-right: $tabletPadding;
    }

    @include desktop {
        padding-left: 0rem;
        padding-right: 0rem;
        margin-left: $desktopPadding;
        width: 700px;
        height: 375.7px;
        border-bottom: 1px solid $mercury;
    }

    &__thumbnail {

        width: 100%;
        border-radius: 0.25rem;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 28.125rem;
        }
    }

    &__title {
        padding-top: $mobilePadding;
        padding-bottom: 2rem;
        font-size: 1.75rem;
        font-weight: $semiBold;

        @include tablet {
            padding-top: $tabletPadding;
            padding-bottom: $tabletPadding;
            border-bottom: 1px solid $mercury;
            font-size: $desktopFontB;
        }

        @include desktop {
            display: none;
        }
    }

    &__thumbnail-title {
        color: $silver;
        padding-bottom: $mobilePadding;
        font-weight: $regularWeight;

        @include tablet {
            padding-top: $tabletPadding;
        }
    }
}

