@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobilePadding;

    @include tablet {
        flex-direction: row;
        padding: $mobilePadding $tabletPadding;

    }

    &__logo {
        min-width: 40%;
        padding-bottom: $mobilePadding;

        @include tablet {
            min-width: 25%;
            padding-bottom: 0rem;
            margin-right: 8rem;
        }

    }

    &__container {
        display: flex;
        gap: $mobilePadding;
        width: 100%;
        margin-bottom: $mobilePadding;

        @include tablet {
            margin-bottom: 0rem;
            height: 3rem;
        }

    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        @include tablet {
            display: none;
        }

    }

    &__search {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: 0.125rem solid #ccc;
        border-radius: 0.25rem;
        font-size: $mobilePadding;
        background-color: white;
        background-image: url(/src/assets/Icons/search.svg);
        background-position: 0.625rem 0.625rem;
        background-repeat: no-repeat;
        text-align: left; 
        padding-left: 2rem;

        @include tablet {
            font-size: 1.5rem;
            background-color: white;
            background-image: url(/src/assets/Icons/search.svg);
            background-size: 1.5rem;
            background-position: 0.75rem 0.625rem;
            background-repeat: no-repeat;
            text-align: left;
            padding-left: 3rem;
        }
        
    }

    &__button {
        width: 100%;
        background-color: #4093ff;
        color: white;
        padding: 0.625rem 1.25rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: $mobilePadding;
        border: none;
        cursor: pointer;
        background-image: url(/src/assets/Icons/upload.svg);
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 0.313rem;

        @include tablet {
            width: 30rem;
            font-size: 1.25rem;
            background-size: 2.125rem;
            height: 3rem;
            margin-right: $mobilePadding;
            margin-left: 2rem;
        }

    }

    &__avatar--hidden {
        display: none;

        @include tablet {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
        }
        
    }

}