.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__logo {
        min-width: 40%;
        padding-bottom: 1rem;
    }

    &__container {
        display: flex;
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    &__search {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url(/src/assets/Icons/search.svg);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        
    }

    &__button {
        width: 100%;
        background-color: #4093ff;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background-image: url(/src/assets/Icons/upload.svg);
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

}