@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.upload-form {
    padding: $mobilePadding;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding-right: $tabletPadding;
        padding-left: $tabletPadding;
    }

    @include desktop {
        margin-right: $desktopPadding;
        padding-left: 0rem;
        padding-right: 0rem;
        border-top: 1px solid #E1E1E1;
        width: 75%;
        padding-top: 3.5rem;
        gap: 1.25rem;
    }

    &__title-title {
        color: silver;
        padding-bottom: 0.5rem;
        font-weight: $regularWeight;
    }

    &__title-input {
        padding: 0.5rem;
        background-color: $alabaster;
        border: 1px solid $mercury;
        border-radius: 0.25rem;
    }

    &__description-title {
        color: $silver;
        padding-top: $mobilePadding;
        padding-bottom: 0.5rem;
        font-weight: $regularWeight;
    }

    &__description-input {
        padding: 0.5rem;
        height: 5rem;
        background-color: $alabaster;
        border: 1px solid $mercury;
        border-radius: 4px;
        
    }

    &__publish {
        width: 100%;
        background-color: #4093ff;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background-image: url(/src/assets/Icons/publish.svg);
        background-position-y: center;
        background-position-x: 10px;
        background-repeat: no-repeat;
        border-radius: 0.313rem;
        margin: 2rem 0rem;
        padding: $mobilePadding;

        @include tablet {
            width: 25%;
        }

    }

    &__cancel {
        width: 100%;
        background-color: white;
        color: #4093ff;
        padding: 0.625rem 1.25rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background-image: url(/src/assets/Icons/publish.svg);
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 0.313rem;
        margin-bottom: $mobilePadding;
        padding: $mobilePadding;

        @include tablet {
            width: 25%;
            margin: $mobilePadding;
        }

    }

    &--tablet-div {

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            border-top: 1px solid $mercury;
            margin-top: $tabletPadding;
        }

        @include desktop {
            margin-top: 3.25rem;
        }

    }

}