@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.comments {

    padding: 0rem $mobilePadding;

    @include tablet {
        padding: 0rem $tabletPadding;
    }

    @include desktop {
        padding: 0rem $tabletPadding;
        padding-right: 0rem;
        padding-left: $desktopPadding;
    }

    &__count {
        font-weight: 500;
        padding-bottom: $mobilePadding;

        @include tablet {
            padding-bottom: 1.5rem;
        }

        @include desktop {
            font-size: $desktopFontS;
        }
    }

    &__form {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: $mobilePadding;

        @include tablet {
            height: 7.625rem;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__form-title {
        color: $silver;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        font-weight: 500;

        @include tablet {
            padding-bottom: 1rem;
        }

    }

    &__form-avatar-box {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        width: 4.5rem;
        margin-top: 1rem;

        @include tablet {
            justify-content: flex-start;
            height: 5rem;
            width: 6rem;
        }

    }

    &__form-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    &__form-button--mobile {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        background-color: #4093ff;
        color: white;
        text-decoration: none;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-image: url(/src/assets/Icons/add_comment.svg);
        background-position-y: center;
        background-position-x: 10px;
        border: none;
        padding: 1rem;
        font-size: 18px;

        @include tablet {
            display: none;
        }
    }

    &__form-button {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            padding: 27px 20px;
            background-color: #4093ff;
            color: white;
            text-decoration: none;
            background-repeat: no-repeat;
            border-radius: 5px;
            background-image: url(/src/assets/Icons/add_comment.svg);
            background-position-y: center;
            background-position-x: 10px;
            border: none;
            height: 0rem;
            margin-top: 2rem;
            margin-left: 1rem;
            font-size: 16px;
            
        }

        @include desktop {
            margin-top: 2rem;
            font-size: $desktopFontS;
            padding: 26px 20px;
        }
    }

    &__form-input-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        // gap: $mobilePadding;

        @include tablet {
            gap: 0rem;
        }

    }

    &__form-input {
        
        height: 30px;
        padding: 1rem;
        padding-left: 0.75rem;
        padding-bottom: 3rem;
        margin-bottom: 1rem;
        background-color: $alabaster;
        border: 1px solid $mercury;

        @include tablet {
            height: 2rem;
            border-radius: 4px;
            padding-bottom: 2rem;
        }
    }

    &__display-box {
        display: flex;
    }

    &__display-avatar-box {
        height: 100%;
        padding-top: 1rem;

        @include desktop {
            padding-top: 2.25rem;
        }
    }

    &__display-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $mercury;
    }

    &__display-comment {
        padding: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 1rem;
        }

        @include desktop {
            padding-top: 1rem;
            padding-bottom: 2.25rem;
            padding-right: 2rem;
        }
    }

    &__name-date-box {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-left: 1rem;
        width: 100%;

        @include tablet {
            padding-top: 1rem;
        }

        @include desktop {
            padding-top: 2.25rem;
            padding-right: 2rem;
        }
    
    }

    &__name {

        font-weight: 500;

        @include desktop {
            font-size: 18px;   
        }
        
    }

    &__date {

        color: $silver;
        
    }

    &__display-divider {

        border-bottom: 1px solid $mercury;
        width: 100%;

    }


}