@import './../../styles/partials/mixins';

.recommended {

    padding: 1rem;

    @include tablet {
        padding: 2.25rem;
    }

    @include desktop {
        border-left: 2px solid silver;
        padding-right: 4.5rem;
        padding-top: 4.5rem;
    }

    &__item {
        display: flex;
        padding-top: 1rem;
        list-style-type: none;

        @include tablet {
            padding-top: 1.5rem;
        }
    }

    &__still {
        height: 5rem;
        width: 7rem;
        border-radius: 5%;

        @include tablet {
            height: 6rem;
            width: 9rem;
        }
    }

    &__info {
        padding: 0.5rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}