@import './../../styles/partials/mixins';
@import './../../styles/partials/variables';

.recommended {

    padding: $mobilePadding;

    @include tablet {
        padding: $tabletPadding;
    }

    @include desktop {
        border-left: 1px solid $mercury;
        padding-right: $desktopPadding;
        padding-top: $desktopPadding;
    }

    &__title {
        
        color: $silver;
        font-weight: 500;

        @include desktop {
            font-size: $desktopFontS;
        }
        
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__item {
        display: flex;
        padding-top: $mobilePadding;
        list-style-type: none;

        @include tablet {
            padding-top: 1.5rem;
        }
    }

    &__still {
        height: 5rem;
        width: 7rem;
        border-radius: 5%;

        @include tablet {
            height: 6rem;
            width: 9rem;
        }
    }

    &__info {
        padding: 0.5rem;
        padding-left: $mobilePadding;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        @include desktop {
            padding: 0rem;
            padding-left: $mobilePadding;
        }

    }

    &__info-title {
        
        font-weight: $demiBold;
        font-weight: 500;
        
    }
}